
.typewriter-example {
    color: rgb(128,128,128)
}

.typewriter-formula {
    text-align: center;
    background-color: rgb(0, 204, 255)
}

.typewriter-cover {
    text-align: center;
    page-break-after: always;
}
